@import "variables.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: url('./images/illustration-working.svg') no-repeat top 130px right -100px;
}

.linkButton {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 20px;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  background-color: var(--green);
}

.container {
  display: flex;
  width: 100%;
  max-width: 1024px;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 30px;
}

.containerFull {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.bgGray {
  background-color: var(--light);
}

header {
  display: flex;
  width: 100%;
  padding-top: 40px;
  justify-content: start;
  align-items: center;
}

.logo {
  height: 30px;
  margin-right: 15px;
}

nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul.auth,
ul.nav {
  display: flex;
  justify-content: start;
  padding: 0;
  margin: 0;
  list-style: none;
}

ul.auth a,
ul.nav a {
  font-size: 13px;
}

ul.nav a {
  display: block;
  padding: 5px 15px;
  color: var(--gray);
  font-weight: 600;
  text-decoration: none;
}

ul.nav a:hover {
  color: var(--greenDark);
}

ul.auth a {
  display: inline-block;
  padding: 10px 15px;
  background-color: #fff;
  border-radius: 20px;
  text-decoration: none;
  color: var(--gray);
  font-weight: 600;
  margin-right: 10px;
}

ul.auth a.signupLink {
  color: #fff;
  background-color: #3fcaae;
}

ul.auth a:hover {
  color: #fff;
  background-color: #28a38b;
}

.poster {
  padding: 120px 0 30px;
  margin-bottom: 160px;
}

.poster h1 {
  font-size: 72px;
  max-width: 60%;
  margin: 0;
  padding: 0;
}

.poster p {
  max-width: 60%;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  color: var(--lightGray);
  margin-bottom: 30px;
}

.search {
  margin-top: -70px;
  margin-bottom: 70px;
  display: flex;
  width: 100%;
  background: url('./images/bg-shorten-desktop.svg') no-repeat center center, var(--violet);
  background-size: cover;
  padding: 40px;
  border-radius: 8px;
}

.search form {
  display: flex;
  flex-grow: 1;
  justify-content: start;
  gap: 15px;
}

.search form input {
  flex: 1;
  height: 60px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  padding: 5px 15px;
}

.search form button {
  flex: 1;
  max-width: 200px;
  border-radius: 8px;
  border: none;
  color: white;
  font-size: 16px;
  background-color: var(--green);
}

.statistics {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
}

.statistics h2 {
  font-size: 32px;
  color: var(--darkGray)
}

.statistics p {
  padding: 0;
  margin: 0 0 120px;
  font-size: 16px;
  font-weight: 600;
  color: var(--gray)
}
