* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #f0f0f0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 1.2px;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2.5;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  padding: 30px;
}

@media screen and (min-width: 900px) {
  .container {
    align-items: center;
  }

  .positionContainer {
    flex-direction: row;
  }

  .positionContainerRow {
    flex-direction: row;
  }
}

@media screen and (max-width: 900px) {
  .container {
    align-items: start;
  }

  .positionContainer {
    align-items: start;
    justify-content: start;
    flex-direction: column;
  }

  .positionContainerRow {
    flex-direction: column;
  }
}

.positionContainer {
  display: flex;
  flex-grow: 1;
  max-width: 1200px;
  gap: 30px;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  flex: 3;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.positionContainerRow {
  display: flex;
  row-gap: 30px;
  column-gap: 30px;
}

.positionContainerRow:not(:last-child) {
  margin-bottom: 30px;
}

article {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 58px 68px 50px -60px #0000004d;
  scale: 1;
  transition: all .4s;
}

article:hover {
  scale: .98;
  box-shadow: 58px 68px 18px -73px #0000004d
}

.boxViolet {
  color: white;
  background-color: rgb(100, 51, 169);
}

.boxGray {
  color: #fff;
  background-color: rgb(80, 82, 116);
}

.boxWhite {
  color: #222;
  background-color: rgb(255, 255, 255);
}

.boxDark {
  color: #fff;
  background-color: rgb(20, 20, 48);
}
